<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseAPIURL" value="https://gorest.co.in/public-api/users"/>
		<add key="AuthenticationToken" value="fa114107311259f5f33e70a5d85de34a2499b4401da069af0b1d835cd5ec0d56"/>
		<add key="CreateEmployeeSuccessMessage" value=" Employee details has successfully been added! Generated Id is: "/>
		<add key="CreateEmployeeFailureMessage" value=" Employee details has not been added!"/>
		<add key="UpdateEmployeeSuccessMessage" value=" Employee details has successfully been updated! Updated details are: "/>
		<add key="UpdateEmployeeFailureMessage" value= " Employee details has not been updated!"/>
		<add key="DeleteEmployeeSuccessMessage" value=" Employee details has been successfully deleted from the records!"/>
		<add key="DeleteEmployeeFailureMessage" value=" Employee details has not been deleted!"/>
		<add key="ExportFileName" value="EmployeeData.csv"/>
	</appSettings>
</configuration>